%form.form-inline.well(action='/chirps' method='POST')
  .input-prepend
    %span.add-on @
    %input(type='text' name='chirp[user_name]' placeholder='handle')
  %input(type='text' name='chirp[content]' placeholder='Say something!')
  %input(type='submit' value='Chirp your mates')
