%h1 Latest chirps

%form{:action => "/chirps/search", :method => "get", :class => "form-search" }
  %input{:type => "search", :name => "query", :class => "search-query" }
  %input{:type => "submit", :value => "Search", :class => "btn" }

%ul.chirps
- @chirps.each do |chirp|
  .chirp
    %span.user= "@#{chirp.user}"
    = chirp.content

%br

= link_to 'New Chirp', new_chirp_path
